body{ background: #000 url(../images/bg.jpg) center center no-repeat; background-size: 100%;  }

html{  height: 100%; }

h2.comingsoon{ font-size: 18px; text-transform: uppercase; font-family: 'bankgothicbold'; color: #fff; position: absolute; bottom: 10px;  margin: auto; width: 100%; text-align: center; }

@media(max-width: 992px){

body{background: #000 url(../images/bg-tab.jpg) top center no-repeat; background-size: 100%;  }

}

@media(max-width: 600px){

body{background: #000 url(../images/bg-mob.jpg) top center no-repeat; background-size: 100%;  }

}